/*
    Contains all the CSS styles used in this project
*/

/* Reset Browser Inconsistencies*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #B21F29;
    font-family: sans-serif;
}

#login_email_label {
  margin-right: 73px;
}

#login_pass_label {
  margin-right: 48px;
}

#register_user_label {
  margin-right:73px
}

#register_email {
  margin-left:50px
}

#register_pass_label {
margin-right:50px
}

#register_password {
margin-left:50px
}

#confirm_password {
margin-left:48px
}


#logo {
    padding-top: 10px;
    width: 504px;
    height: 247px;
    margin: 0 auto;
    display: block;
}

#invalid_login_message {
    font-size: 10pt;
    color: red;
}

#invalid_registration_message {
    font-size: 10pt;
    color: red;
}

.authenticate_container {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    width: 50%;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px #343434;
    font-size: 20px;
    text-align: center;
    min-width: 800px;
}

.authenticate_container div {
    position: relative;
    height: 200px;
    width: 50%;
    top: 50%;
    transform: translateY(-68%);
}

.authenticate_container div * {
    margin-bottom: 5px;
}

.authenticate_container button {
    position: relative;
    bottom: -20px;
    cursor: pointer;
}

.authenticate_container label {
    font-size: 14px;
}

#register_container {
    border-right: 1px solid darkgrey;
    float: left;
    width: 49.5%;
}

#login_container {
    margin-top: 10px;
    float: right;
}

#user_id_label {
    right: 10px;
    position: fixed;
    top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(239, 239, 239);
    padding: 12px;
    text-align: right;
    cursor: default;
}

#user_name_label {
    color: black;
    font-size: 20pt;
    font-weight: bolder;
}

#user_email_label {
    color: black;
    font-size: 16pt;
    font-style: italic;
}

#chat_window {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 500px;
    width: 40%;
    height: 60%;
    margin-top: 100px;
    background-color: white;
    border: 1px solid black;
    overflow-y: scroll;
}

#recipients_container {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    min-width: 500px;
    height: 80px;
    background-color: lightgrey;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#to_button {
    position: fixed;
    top: 10px;
    margin: 5px;
    margin-left: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    height: 40px;
    width: 60px;
}

#recipients {
    position: fixed;
    top: 10px;
    left: 80px;
    margin: 5px;
    width: 80%;
    height: 40px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    font-size: 10pt;
}

#message_box {
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 85%;
    height: 60px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    bottom: 5px;
    margin: 5px;
    margin-left: 10px;
}

#reply_container {
    position: relative;
    background-color: lightgrey;
    left: 50%;
    transform: translateX(-50%);
    min-width: 500px;
    width: 40%;
    height: 80px;
    border-top: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;
}

#send_button {
    position: fixed;
    right: 3px;
    width: 60px;
    height: 40px;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid grey;
    border-radius: 10px;
}

#conversations_window {
    position: fixed;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 260px;
    min-width: 240px;
    height: 90%;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 10px;
}

#conversations_list {
    position: fixed;
    left: 0;
    width: 100%;
    height: 90%;
    bottom: 0px;
    border-top: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
	overflow-y: scroll;
}

.conversation_box {
    position: relative;
    width: 95%;
    height: 40px;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    overflow-x: hidden;
    text-transform: capitalize;
    cursor: pointer;
}

.selected_conversation p {
    font-weight: bold;
}

#conversations_window_label {
    position: fixed;
    top: 5px;
    margin: 5px;
}

#new_conversation_button {
    position: fixed;
    top: 5px;
    margin: 5px;
    right: 0;
    border: 1px solid grey;
    border-radius: 10px;
    height: 20px;
    width: 40px;
}

#logout_button {
    position: fixed;
    top: 100px;
    right: 10px;
    width: 80px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.message {
    display: block;
    min-height: 10px;
    max-width: 300px;
    position: relative;
    border-radius: 20px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message p {
    text-wrap: normal;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
}

.message_from_self {
    float: left;
    background-color: blue;
    color: white;
    margin-right: 50%;
}

.message_from_other {
    float: right;
    background-color: antiquewhite;
    color: black;
    margin-left: 50%;
}

#search_clickout {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#search_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 30%;
    z-index: 11;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    border: 1px solid lightgrey;
    padding: 15px;
    text-align: center;
}

#search_popup h2 {
    font-size: 20pt;
}

#search_box {
    position: relative;
    top: 20px;
    height: 40px;
    width: 200px;
    padding: 3px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#search_results {
    position: relative;
    font-weight: normal;
    font-size: 10pt;
    padding: 10px;
    width: 90%;
    height: 30%;
    margin: 0 auto;
    top: 40px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    overflow-y: scroll;
}

.empty_search_results_text {
    font-style: italic;
    cursor: default;
    font-weight: normal;
}

#search_results p:not(.empty_search_results_text):hover {
    font-weight: bold;
    cursor: pointer;
}
